* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logMainBox {
  height: 100vh;
  width: 100%;
  position: relative;
}

.mainBox {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  padding: 2rem;
}

.box {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem 12rem;
}

.box form p {
  text-align: center;
  padding: 2rem 0;
  color: rgb(94, 94, 94);
}

.input-field i {
  font-size: 1rem;
  padding: 0.5rem;
}

.input-field input {
  margin: 1rem 0;
  width: 90%;
  padding: 10px 0;
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
}
.input-field input:focus {
  outline: none;
}

.input-field label {
  margin-right: 10px; 
}

.input-field input[type="radio"] {
  display: none; 
}

.input-field input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid #087ea1;
  color: #555;
  transition: all 0.3s ease;
}

.input-field input[type="radio"]:checked + label {
  background-color: #0482bd;
  border-color: #0482bd;
  color: #fff;
}

.input-field input[type="radio"] + label:hover {
  background-color: #0482bd;
  color: white;
}

.btn,
.registerbtn a {
  width: 100%;
  cursor: pointer;
  background: rgb(15, 125, 168);
  border: none;
  padding: 15px;
  margin: 1rem 0;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.4s;
}

.registerbtn {
  margin-top: 1rem;
}

.btn:hover {
  background: rgb(9, 71, 100);
  color: rgb(255, 255, 255);
}
.registerbtn a:hover {
  background: rgb(9, 71, 100);
  color: rgb(255, 255, 255);
}
